* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Roboto', Arial;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

/* sidebar */

.sidebar {
    font-size: 25px;
    font-weight: 600;
    background-color: #239AD7;
    color: #FFFFFF;
    padding: 30px;
    grid-row: 1 / 3;
}

.sidebar-title {
    display: flex;
}

.sidebar li {
    list-style-type: none;
}

.sidebar-items {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar img {
    filter: invert(100%);
    margin-right: 20px;
}

.body {
    background-color: #EDEFF1;
}

/* header */

.header-top-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar input {
    width: 800px;
    height: 40px;
    background-color: #EDEFF1;
    border: none;
    border-radius: 20px;
}